*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        background-color:lightgray;
        margin: 20px;
    }
}
nav{
    
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 10px;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 16px;
}
nav .menu{
    list-style-type: none;
    gap: 40px;
    align-items: center;
    display: flex;
}
.btn{
    width: 132px;
    height: 40px;
    background-color:#308868;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
 
}
#banar{
    width: 1475px;
    height: 674px;
    background-image: url(images/hero-bg.png);
    padding: 70px 120px 134px 120px; 
}

#banar .banar_head h1{
text-align: center;
color: white;
font-size:70px ;
font-weight: 600;
margin-bottom: 30px;
line-height: 70px;
}
#banar .banar_head p{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    line-height: 30px;
}
#banar .btn-1{
    background-color:white;
    border: none;
    border-radius: 18px;
margin-left: 45%;
margin-bottom: 30px;
    padding: 8px;
    color: #308868;
    position: relative;
}
#banar .btn-3{
   background: none;
   color: white;
   padding: 5px 10px 5px 10px;
   height: 40px;
   margin-left: 20px;
   border: 1px solid white;
   border-radius: 5px;
}





